* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* font-family: 'Barlow', sans-serif; p tags
font-family: 'Barlow Condensed', sans-serif; subtitle/menu
font-family: 'Bellefair', serif;  Main heading */
